node_modules
dist
pb_data
bin/pocketbase
data/*.json
!data/.gitkeep
!data/config.json
!data/opiniones.json
!data/blog.json
!data/galeria.json
uploads/
!uploads/.gitkeep
public/uploads/
!public/uploads/.gitkeep
